# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de log
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuraciones del IDE
.vscode/

# Directorios de build y distribución
/dist
/build

# Archivos globales de Yarn o npm
.yarn/
.npm/
